body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.quote-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}

.quote-container p#quoteArabic {
    font-family: 'Amiri', serif;
    direction: rtl;
    font-size: 1.2em;
}

.quote-container p#source {
    color: #757575;
    font-style: italic;
}

@media (min-width: 768px) {
    .quote-container {
        text-align: left;
        max-width: 80%;
    }
    .quote-container div.quotes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #quoteEnglish {
        flex: 1;
        text-align: left;
        margin-right: 20px;
    }
    #quoteArabic {
        flex: 1;
        text-align: right;
        direction: rtl;
        margin-left: 20px;
    }
    #source {
        text-align: center;
        margin-top: 20px;
    }
}

.button-group {
    display: flex;
    gap: 10px; /* Space between buttons */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.btn {
    background-color: rgba(43, 53, 61, 0.57);
    display: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px; /* Rounded corners */
    border: none;
    color: #ffff;
    font-size: 1.2rem; /* Icon size */
    transition: background-color 0.3s ease; /* Smooth transition */
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(14, 16, 18, 0.57);
}

.btn i {
    margin-right: 5px;
}

#copyButton, #showNewHadith {
    display: flex;
}

#notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #3c3535;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#notification.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* Responsive design */
@media (max-width: 768px) {
    .btn {
        font-size: 1.2rem;
        padding: 8px 16px;
    }
    .button-group {
        flex-direction: column; /* Stack buttons vertically on small screens */
        gap: 15px;
    }
}